<html>
<head>
    <title> My Site </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">
    <button onclick="login()"> Login </button>

<script>
    function login(){
        var rew = {"username": $('#username').val(), "password":$('#password').val()}
        var data = JSON.stringify(rew);
        $.ajax({
            url: '/login/',
            data: data,
            type: 'POST',
            dataType: 'json',
            contentType: "application/json",
            success: function (resp) {
                if(resp.status == "FAIL"){
                    alert("Invalid username or password");
                }else{
                    window.location = "/home"
                }
            },
        });

    }
</script>
</body>
</html>